th, td, p, h1{
    font:15px 'Arial';
}
table, th, td {
    border: solid 1px #a435f0;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}
td{
    padding:10px;
    border-left: none;
    border-right: none;
}
table{
    width:75%;
    float:center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    margin-left:12%;
}
th {
    font-weight:bold;
    background-color: #a435f0;
    color: #fff;
    padding:10px 30px;
}
button{
    background-color: #a435f0;
    color: #fff;
    padding: 30px 50px;
    opacity:0.9;
    border:none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
button:hover{
    opacity:1;
}