.header{
  display: flex;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size:14px;
}
.header > div {
  background-color: #fff;
  margin:10px;
  text-decoration: none;
  text-align: center;
}
div a{
  color:black;
  text-decoration: none;
  text-align: center;
}
.header input[type=text] { 
  margin: 12px;
  border: 1px solid black;
  border-radius: 25px;
  font-size: 14px;
  background-color: #f7f9fa;
  padding: 0 0 0 40px;
  height: 2.9rem;
  width:35%;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#img{
  max-width: 100%;
  height: auto;
}
div #cart{
  border:none;
  cursor: pointer;
  background-color:white;
}
div #login{
  background-color: white;
  color:#1c1d1f;
  border: 1px solid #1c1d1f;
  text-align:center;
  text-decoration: none;
  padding: 12px 25px;
  cursor:pointer;
}
.sign{
  color: white;
  background-color:#1c1d1f;
  border: 1px solid #1c1d1f;
  text-align:center;
  font-weight: 700;
  font-size: 13px;
  text-decoration: none;
  padding: 12px 25px;
  cursor:pointer;
  opacity:0.9;
}
.sign:hover{
  opacity:1;
}
div #lang{
  background-color: white;
  border: 1px solid #1c1d1f;
  padding: 8px 12px;
  cursor:pointer;
}
div .text{
  display: block;
  text-align: center;
  padding:9px 9px 9px 0px;
  font-family: sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}
div .text:hover{
  color: #5624d0;
}
.dropdown {
  position: relative;
  display: inline-block;
  padding: 8px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin:10px;
}
.dropdown-content a {
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
  float:left;
}
.dropdown-content a:hover {
  color: #5624d0;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#lang:hover{
  background-color:#f7faf9;
}
#login:hover{
  background-color:#f7faf9;
}
.content {
  position: relative;
  font-family: Arial;
}
.text-block {
  position: absolute;
  top: 150px;
  left: 50px;
  background-color: white;
  color: black;
  padding:15px 50px 15px 20px;
  font-size:1.2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.para{
  font-family: sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  font-size: 1.3rem;
  padding-top: 10px;
}
.courses{
  margin-top:40px;
  margin-left:20px;
  font-size: 1.0rem;
  font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}
.btn{
  display: flex;
  background-color: #fff;
  text-decoration: none;
  text-align:center;
  margin: 0;
  padding: 0;
  font-size:14px;
}
.item
{
  display:inline-block;
  background-color: white;
  color:#1c1d1f;
  border:none;
  text-align:center;
  text-decoration: none;
  font-weight: 700;
  padding: 12px 12px 5px 0px;
  font-size: 1rem;
  letter-spacing: -.02rem;
  margin:5px 5px 0px 5px;
  font-family: sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}
.item:hover{
  color:#5624d0
}
.container{
  display: flex;
  flex-direction: row;
  background-color:#f7f9fa;
  font-weight: 700;
  margin-top:70px;
  line-height: 1.2;
  letter-spacing: -.02rem;
  font-size: 1rem;
  flex:50%;
  width:100%;
  justify-content: space-between;
  font-family: sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}
.container > div{
  padding:20px;
}
.types{
  display:flex;
}
.cont{
  padding:10px;
}
@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}
.head{
  display:block;
  font-family: sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -.02rem;
  font-size: 1rem;
  margin-top:40px;
  margin-left:20px;
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
}
.flex-container > div {
  margin: 10px;
}
.caption{
  font-family: sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -.02rem;
  font-size: 1rem;
}
.img:hover{
  transform: scale(0.9);
}
.features{
  flex-direction: row;
  padding:30px 50px 80px 10px;
  margin-top:50px;
  margin-bottom:50px;
  background-color:#f7f9fa;
  font-weight: 700;
  font-family: sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}
.topics{
  margin-top:30px;
  margin-left:20px;
  display:flex;
  display: inline-flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  font-family: sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}
.topics > div {
  margin-right: 110px;
}
.design{
  font-family: sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -.02rem;
  font-size: 1.2rem;
  margin-bottom:0.8rem;
}
.link{
  text-decoration:underline;
  color:#5624d0;
  margin-top: 1.2rem;
}
.stud{
  color: #6a6f73;
  margin-top: 0.8rem;
  font-size:0.8rem;
  margin-bottom:1rem;
}
.author{
  color: #6a6f73;
  font-size:0.7rem;
  font-family: sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}
#explore{
  background-color: white;
  color:#030405;
  border: 1px solid #1c1d1f;
  text-align:center;
  text-decoration: none;
  padding: 10px;
  margin-top:20px;
  font-weight: 900;
}
#explore:hover{
  background-color:#6a6f73;
  cursor:pointer;
}
.sub{
  border:1px solid #c6c8cc;
  padding:20px;
  margin:10px;
}
#sub-head{
  font-size:1rem;
  font-family: sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}
.sub-course{
  position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
  cursor: default;
	overflow-x: auto;
  overflow-y: hidden;
}
.py{
   margin-top:20px;
}

#bor{
  border:1px solid #c6c8cc;
}
.rating{
    display:flex;
    font-family: sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-size: 0.8rem;
}
.mark{
    padding:5px;
    font-size:0.8rem;   
    font-family: sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol; 
}
.py{
  padding-left:10px;
}
.instructor{
  display:flex;
  margin-left:15%;
}
.instructor > div {
  margin-right:10%;
}
.column{
  padding-top:10%;
}
.trust{
  background-color:#f7f9fa;
  width:100%;
  text-align:center;
  margin:50px 0px 50px 0px;
  padding:20px;
}
.footer-bottom > div{
  display:flex;
  direction: column;
  background-color: #1c1d1f;
  padding: 1.25rem;
  min-width: 12.5rem;
  padding: 2.4rem;
  font-family: sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}
.footer-widget{
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
  width:100%;
}
.footer-widget ul li a{
  margin-top: 12px;
  font-size:13px;
  color: #fff;
  font-family: sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}
.footer-widget ul li a:hover{
  text-decoration: underline;
}
li{
  list-style: none;
  padding-left:0px;
  margin-right:200px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 29.8125rem /* 477px */) {
  .footer-bottom {
    justify-content: space-evenly;
  }
}
.ln{
  color: white;
  background-color:#1c1d1f;
  border: 1px solid white;
  text-align:center;
  font-weight: 700;
  font-size: 13px;
  padding: 12px 25px;
  cursor:pointer;
  opacity:0.9;
}
.langbtn{
  float:right;
  margin-left:200px;
}
.ln:hover{
  opacity: 1;
}