 
input, select,button {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  h1{
      text-align:center;
  }
   
  button, input[type=reset] {
    background-color: #04AA6D;
    color: white;
  }
  
  
  .container {
    border-radius: 5px;
    background: #f1f1f1;
    background-image:  linear-gradient(to right, pink, rgb(228, 37, 228));
    width:50%;
    padding:0px 80px 50px 50px;
    margin:10px 30px 40px 300px;
    font-size:px;
  }
  
  #message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    width:50%;
    padding:20px;
    margin:10px 30px 40px 300px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
  }
  
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
  }
  form{
      padding:0px 30px;
  }